/**
  Powered by Envy Code R preview #7 @ http://damieng.com/blog/2008/05/26/envy-code-r-preview-7-coding-font-released
  Awesome font. Thank you.
 */
@font-face {
  font-family: 'EnvyCodeRWeb';
  src: url('../fonts/envy_code_r-webfont.eot');
  src: url('../fonts/envy_code_r-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/envy_code_r-webfont.woff') format('woff'),
       url('../fonts/envy_code_r-webfont.ttf') format('truetype'),
       url('../fonts/envy_code_r-webfont.svg#envy_code_rregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnvyCodeRWeb';
  src: url('../fonts/envy_code_r_bold-webfont.eot');
  src: url('../fonts/envy_code_r_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/envy_code_r_bold-webfont.woff') format('woff'),
       url('../fonts/envy_code_r_bold-webfont.ttf') format('truetype'),
       url('../fonts/envy_code_r_bold-webfont.svg#envy_code_rbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
	font-family: 'EnvyCodeRWeb'
}

h1 {
	font-weight: normal;
	text-align: center;
}

.form-container, .details-overview-container, #browser-container {
	width: 320px;
	background-color: #cdcdcd;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.form-line {
	margin: 5px;
}

.form-line + .form-line {
	margin-top: 7px;
}

.form-line label {
	width: 115px;
	display: inline-block;
	text-align: right;
}

.form-line input {
	width: 170px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px;
}

.form-line input[type="submit"] {
 	border: 1px solid white;
}

.form-line input[readonly] {
	background-color: #ddd;
}

.checkbox-line label {
  text-align: left;
  position: relative;
  left: -6px;
}

.checkbox-line [type="checkbox"] {
	width: 20px;
	margin-left: 40px;
	position: relative;
  top: 2px;
}

.line {
  display: flex;
}

#help-container {
	width: 500px;
	margin: 20px;
}

#help-container li {
	text-align: left;
}

#list-container {
	width: 90%;
}

th {
	text-align: left;
}

#list-container td {
  vertical-align: top;
}

#list-container tr + tr td {
	border-top: 1px solid #cdcdcd;
}

.details-overview-container {
  width: 400px;
  text-align: left;
}

.details-overview-container label {
	width: 123px;
	text-align: right;
	display: inline-block;
	margin-right: 20px;
}

.details-overview-container span {
  display: inline-block;
	width: 245px;
}

#browser-container {
	width: 90%;
}

#file-browser {
	background-color: white;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  overflow: auto;
	border-radius: 3px;
	padding: 3px;
	position: relative;
	left: -3px;
}

#file-content {
  background-color: white;
  width: 67%;
	display: inline-block;
  overflow: auto;
	border-radius: 3px;
	padding: 3px;
	position: relative;
	right: 0px;
}

#file-content pre {
	text-align: left;
	font-size: 13px;
  margin-left: 20px;
}

.pln { color: #000 }

@media screen {
  .str { color: #080 }
  .kwd { color: #008 }
  .com { color: #800 }
  .typ { color: #606 }
  .lit { color: #066 }
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }
  .atn { color: #606 }
  .atv { color: #080 }
  .dec, .var { color: #606 }
  .fun { color: red }
}

@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

pre.prettyprint { padding: 2px;}
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; }
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: decimal; }
li.L1,li.L3,li.L5,li.L7,li.L9 { background-color: #EDEDED; }
.prettyprint .linenums {
  padding-left: 20px;
}

#blog-hint {
  position: fixed;
  top: -5px;
  left: -5px;
  padding: 5px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: #cdcdcd;
  border-radius: 5px;
}

#blog-hint a, #blog-hint a:hover, #about-hint a, #about-hint a:hover {
	color: black;
	text-decoration: none;
}

#blog-hint a:hover:after {
	content: ' ';
	position: fixed;
	display: block;
	border-radius: 2px;
	left: 46px;
	top: 13px;
	width: 5px;
	height: 7px;
	background-color: black;
}

#about-hint {
	position: fixed;
  top: -5px;
  right: -5px;
  padding: 5px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #cdcdcd;
  border-radius: 5px;
}

#about-hint a:hover:after {
  content: ' ';
  position: fixed;
  display: block;
  border-radius: 2px;
  right: 47px;
  top: 13px;
  width: 5px;
  height: 7px;
  background-color: black;
}

#about {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
  z-index: 1;
}

#about div {
	background-color: white;
	width: 70%;
	padding: 10px;
	border-radius: 3px;
	position: absolute;
	left: 15%;
	top: 20%;
  box-shadow: 0px 0px 60px #000000;
}

#about code {
	font-family: 'Courier New', Arial;
}

#about .small {
	font-size: 11px;
  text-align: right;
}

#about .small + .small {
	position: relative;
	top: 14px;
}

.paginator {
	text-align: center;
}
