@import helper._
@import models.PaginationInfo
@import views.forms.search.ArchetypeSearch._

@(manifestInfo: ManifestInfo)

@main("wasis.nu/mit/archetypes?") {
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3 well">
        <h2 style="margin-top: 0">Contact</h2>
        <p>
          <a href="mailto:cornelius@@wasis.nu">cornelius@@wasis.nu</a><br>
          <a href="https://plus.google.com/+CorneliusLilge">+CorneliusLilge</a><br>
          <a href="https://twitter.com/snellius">@@snellius</a><br>
          <a href="https://www.facebook.com/sne11ius">Facebook</a>
        </p>
        <div>
          <iframe src="https://githubbadge.appspot.com/sne11ius?a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden; margin-top: 5px;" frameBorder="0"></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="well">
          <h3>Why?</h3>
          <p>
            Maven<sup>1</sup> archetypes are horrible to use.
            <ul>
              <li>Ever scrolled through the gazillions of entrys in the <code>mvn archetype:generate</code> list?</li>
              <li>Ever wondered what's in this <i>"A simple portlet application"</i> archetype?</li>
              <li>Ever generated a project from an archetype, just to see its hopelessly outdated?</li>
            </ul>
            Finally, you can easily search and have a look before you try...
          </p>
          <p class="small">
            <sup>1</sup>... if you have no idea what this is all about, this page is probably not for you.
          </p>
          <p class="">
            Powered by <a href="https://github.com/sne11ius/archetypes">github.com/sne11ius/archetypes</a>
          </p>
          <div style="position: relative; top: -20px;" class="pull-right">Build: <a href="https://github.com/sne11ius/archetypes/tree/@manifestInfo.gitBuildHeadRevision">@manifestInfo.gitBuildHeadRevision</a> @@ @manifestInfo.gitBuildDate</div>
        </div>
      </div>
    </div>
  </div>
}
