@import views.forms.search.ArchetypeSearch._
@import java.util.Locale

@(archetype: Archetype, searchData: SearchData, fileTree: Option[String], file: Option[FileDescriptor], filename: Option[String])

@main("wasis.nu/mit/archetypes?") {
<div class="navbar navbar-default">
  <ul class="nav navbar-nav go-back">
    <li><a href="@{routes.Application.index}?groupId=@searchData.groupId&artifactId=@searchData.artifactId&version=@searchData.version&description=@searchData.description&javaVersion=@searchData.javaVersion"><i class="mdi-navigation-arrow-back"></i>Back to search</a></li>
  </ul>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-5 well well-small">
      <h4>Archetype details</h4>
      <table class="archetype-details">
        <tr>
          <td class="prop-name">Group Id:</td>
          <td class="value">@archetype.groupId</td>
        </tr>
        <tr>
          <td class="prop-name">Artifact Id:</td>
          <td class="value">@archetype.artifactId</td>
        </tr>
        <tr>
          <td class="prop-name">Version:</td>
          <td class="value">@archetype.version</td>
        </tr>
        <tr>
          <td class="prop-name">Description:</td>
          <td class="value">@archetype.description</td>
        </tr>
        <tr>
          <td class="prop-name">Java Version:</td>
          <td class="value">@archetype.javaVersion</td>
        </tr>
        <tr>
          <td class="prop-name">Packaging:</td>
          <td class="value">@archetype.packaging</td>
        </tr>
      </table>
    </div>
    <div class="col-xs-12 col-md-7">
      <div class="well well-small command">
        <h4>Command</h4>
        <code>
          mvn archetype:generate -DgroupId=com.example.app -DartifactId=example-app -Dversion=1.0-SNAPSHOT -Dpackage=com.example.app -DinteractiveMode=false -DarchetypeGroupId=@archetype.groupId -DarchetypeArtifactId=@archetype.artifactId -DarchetypeVersionId=@archetype.version
          @for(prop <- archetype.additionalProps) {
            -D@prop=My@{prop.take(1).toUpperCase(Locale.ENGLISH) + prop.drop(1)}
          }
        </code>
        <div class="generate-link" style="margin-top: 30px;">
          <span style="margin-right: 50px;">Create project from this archetype</span><a href="@routes.ArchetypesController.archetypeGenerate(archetype.groupId, archetype.artifactId, archetype.version, searchData.groupId, searchData.artifactId, searchData.version, searchData.description, searchData.javaVersion, filename)" class="btn btn-primary btn-fab btn-raised"><i class="mdi-navigation-arrow-forward"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    @if(archetype.localDir.isDefined) {
      <div class="col-xs-6 col-md-4 well well-small no-padding">
        <div id="file-browser">
          @Html(fileTree.getOrElse("[no file browser available]"))
        </div>
      </div>
      <div class="col-xs-12 col-md-8 well well-small file-content no-padding">
        @file match {
            case Some(descriptor) => {
              @descriptor match {
                case Empty => {
                  [This file is empty]
                }
                case Text(text) => {
                  @Html(text)
                }
                case Markdown(html) => {
                  @Html(html)
                }
                case Image(src) => {
                  <img src="@src">
                }
                case Binary(href) => {
                  This seems to be a binary file. Click <a href="@href" target="_blank">here</a> to download.
                }
              }
            }
            case None => {
              [no file content available]
            }
          }
      </div>
    } else {
      <div class="col-xs-6 col-md-12 well well-small">
        Archetype details could not be loaded. Here is why:
        <pre>@archetype.generateLog</pre>
      </div>
     }
  </div>
</div>
}
