@import views.forms.search.ArchetypeSearch._

@(archetype: Archetype, searchData: Option[SearchData], fileTree: Option[String], file: Option[FileDescriptor])

@main("wasis.nu/mit/archetypes?") {

  <h1>wasis.nu/mit/<wbr>archetypes?</h1>
  <center>
    @searchData match {
      case None => {
        <a href="@routes.Application.index">Back to search</a>
      }
      case Some(searchData) => {
        <a href="@{routes.Application.index}?groupId=@searchData.groupId&artifactId=@searchData.artifactId&version=@searchData.version&description=@searchData.description&javaVersion=@searchData.javaVersion">Back to search</a>
      }
    }
    <br>
    Details for
    <div class="details-overview-container">
      <div class="line">
        <label for="groupId">groupId:</label>
        <span id="groupId">@archetype.groupId</span>
      </div>
      <div class="line">
        <label for="artifactId">artifactId:</label>
        <span id="artifactId">@archetype.artifactId</span>
      </div>
      <div class="line">
        <label for="version">version:</label>
        <span id="version">@archetype.version</span>
      </div>
      <div class="line">
        <label for="description">description:</label>
        <span id="description">@archetype.description</span>
      </div>
      <div class="line">
        <label for="javaVersion">java version:</label>
        <span id="javaVersion">@archetype.javaVersion</span>
      </div>
      <div class="line">
        <label for="packaging">packaging:</label>
        <span id="packaging">@archetype.packaging</span>
      </div>
      <div class="line">
        <label for="additionalProps">additional props:</label>
        <span id="additionalProps">@archetype.additionalProps</span>
      </div>
    </div>
    Command:
    <div class="details-overview-container" style="width: 90%">
      mvn archetype:generate -DgroupId=com.example.app -DartifactId=example-app -Dversion=1.0-SNAPSHOT -Dpackage=com.example.app -DinteractiveMode=false -DarchetypeGroupId=@archetype.groupId -DarchetypeArtifactId=@archetype.artifactId -DarchetypeVersionId=@archetype.version
    </div>
    <!--script src="@routes.Assets.at("javascripts/metadataLoader.js")" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        loadMetaData('@archetype.groupId', '@archetype.artifactId', '@archetype.version');
      });
    </script>
    <div id="wait-hint">
	    <img src="@routes.Assets.at("images/ajax-loader.gif")" width="70px" style="margin: 15px"><br>
	    Metadata is beeing generated, please be patient...
    </div-->
    <div id="details">
      @if(archetype.localDir.isDefined) {
        Archetype content:
		    <div id="browser-container">
			    <div id="file-browser">
	          @Html(fileTree.getOrElse("[no file browser available]"))
			    </div>
			    <div id="file-content">
			      @* @Html(fileSource.getOrElse("[no file content available]")) *@
			      @file match {
						  case Some(descriptor) => {
						    @descriptor match {
						      case Empty => {
						        [This file is empty]
						      }
	                case Text(text) => {
	                  @Html(text)
	                }
	                case Markdown(html) => {
	                  @Html(html)
	                }
						      case Image(src) => {
						        <img src="@src">
						      }
						      case Binary(href) => {
						        This seems to be a binary file. Click <a href="@href" target="_blank">here</a> to download.
						      }
						    }
						  }
						  case None => {
						    [no file content available]
						  }
					  }
			    </div>
		    </div>
	    } else {
	      Archetype details could not be loaded. Here is why:
        <pre>@archetype.generateLog</pre>
	    }
    </div>
  </center>
}
