@import views.forms.search.ArchetypeSearch._
@import utils.Let._

@(archetype: Archetype, properties: Map[String, String])

@main("wasis.nu/mit/archetypes?") {

  <h1>wasis.nu/mit/<wbr>archetypes?</h1>
  <center>
    <h2>mvn:generate</h2>
    <div class="details-overview-container">
      <div class="line">
        <label for="groupId">groupId:</label>
        <span id="groupId">@archetype.groupId</span>
      </div>
      <div class="line">
        <label for="artifactId">artifactId:</label>
        <span id="artifactId">@archetype.artifactId</span>
      </div>
      <div class="line">
        <label for="version">version:</label>
        <span id="version">@archetype.version</span>
      </div>
    </div>
    <form method="post">
	    <div class="form-container" style="width: 400px;">
	      <div class="form-line">
          <label style="width: 148px;">Your groupId:</label>
          <input type="text" name="groupId" value="@{properties.get("groupId").get}">
        </div>
        <div class="form-line">
          <label style="width: 148px;">Your artifactId:</label>
          <input type="text" name="artifactId" value="@{properties.get("artifactId").get}">
        </div>
        <div class="form-line">
          <label style="width: 148px;">Your version:</label>
          <input type="text" name="version" value="@{properties.get("version").get}">
        </div>
        @let(
          scala.collection.mutable.Map[String, String]()
          ++= properties
          -= "groupId"
          -= "artifactId"
          -= "version"
        ) { map =>
          @for((key, value) <- map) {
	          <div class="form-line">
	            <label style="width: 148px;">Your @key:</label>
	            <input type="text" name="@key" value="@value">
	          </div>
					}
				}

        <div class="form-line">
          <label></label>
          <input type="submit" value="Generate already!" style="position: relative; left: 16px;">
        </div>
		  </div>
	  </form>
  </center>
}
