@import helper._
@import models.PaginationInfo
@import views.forms.search.ArchetypeSearch._

@(recentArchetypes: List[Archetype], searchForm: Form[SearchData], archetypes: List[Archetype], paginationInfo: Option[PaginationInfo] = None, searchData: SearchData, itemsTotal: Int, user: Option[User])

@main("wasis.nu/mit/archetypes?", user) {
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3 well well-small" id="search-form">
        @form(action = routes.Application.index) {
          @searchInputField(searchForm("groupId"))
          @searchInputField(searchForm("artifactId"))
          @searchInputField(searchForm("description"))
          <select class="form-control" name="javaVersion">
            <option @if("" == searchForm("javaVersion").value.getOrElse("")) { selected } value="">[any]</option>
            <option @if("1.8" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.8">1.8</option>
            <option @if("1.7" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.7">1.7</option>
            <option @if("1.6" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.6">1.6</option>
            <option @if("1.5" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.5">1.5</option>
            <option @if("1.4" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.4">1.4</option>
            <option @if("1.3" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.3">1.3</option>
            <option @if("1.2" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.2">1.2</option>
            <option @if("1.1" == searchForm("javaVersion").value.getOrElse("")) { selected } value="1.1">1.1</option>
            <option @if("[default]" == searchForm("javaVersion").value.getOrElse("")) { selected } value="[default]">[default]</option>
          </select>
          <input type="submit" class="btn btn-primary" value="Search">
        }
      </div>
      <div class="col-xs-12 col-md-9">
        @if(searchData.groupId.isEmpty && searchData.artifactId.isEmpty && searchData.description.isEmpty && searchData.javaVersion.isEmpty) {
          <div class="recent-archetypes">
            <h4>10 most recent archtypes</h4>
            <table class="table table-striped table-hover archetypes-table">
              <tr>
                <th class="details">details</th>
                <th class="lastUpdated">updated</th>
                <th class="groupId">groupId</th>
                <th class="artifactId">artifactId</th>
                <th class="description">description</th>
                <th class="java version"><span style="white-space: nowrap">java version</span></th>
              </tr>
              @for(a <- recentArchetypes) {
                <tr data-href="@routes.ArchetypesController.archetypeDetails(a.groupId, a.artifactId, a.version, searchData.groupId, searchData.artifactId, searchData.version, searchData.description, searchData.javaVersion, Some("/pom.xml"))">
	                <td class="details"><a href="@routes.ArchetypesController.archetypeDetails(a.groupId, a.artifactId, a.version, searchData.groupId, searchData.artifactId, searchData.version, searchData.description, searchData.javaVersion, Some("/pom.xml"))">details</a></td>
                  <td class="lastUpdated">@formatDate(a.lastUpdated, true)</td>
	                <td class="groupId">@a.groupId</td>
	                <td class="artifactId">@a.artifactId</td>
	                <td class="description">@a.description</td>
	                <td class="java version">@a.javaVersion</td>
                </tr>
              }
            </table>
          </div>
        }
        @if(paginationInfo.isDefined && paginationInfo.get.numPages > 1) {
	        <div class="paginator-top">
	            @paginator(paginationInfo.get, searchData)
	        </div>
        }
        <span class="pull-right xxs">@itemsTotal items</span>
        <table class="table table-striped table-hover archetypes-table">
          <col width="5%" class="details">
          <col width="20%">
          <col width="30%">
          <col width="50%">
          <col width="5%">
          <tr>
            <!-- th>#</th-->
            <th class="details"></th>
            <th class="groupId">groupId</th>
            <th class="artifactId">artifactId</th>
            <th class="description">description</th>
            <th class="javaVersion"><span style="white-space: nowrap">java version</span></th>
          </tr>
          @for((archetype, index) <- archetypes.zipWithIndex) {
            <tr data-href="@routes.ArchetypesController.archetypeDetails(archetype.groupId, archetype.artifactId, archetype.version, searchData.groupId, searchData.artifactId, searchData.version, searchData.description, searchData.javaVersion, Some("/pom.xml"))">
              <!-- td>@{1 + index}</td-->
              <td class="details"><a href="@routes.ArchetypesController.archetypeDetails(archetype.groupId, archetype.artifactId, archetype.version, searchData.groupId, searchData.artifactId, searchData.version, searchData.description, searchData.javaVersion, Some("/pom.xml"))">details</a></td>
              <td class="groupId">@archetype.groupId</td>
              <td class="artifactId">@archetype.artifactId</td>
              <td class="description">@archetype.description</td>
              <td class="javaVersion">@archetype.javaVersion</td>
            </tr>
          }
        </table>
        @if(paginationInfo.isDefined) {
          @paginator(paginationInfo.get, searchData)
        }
      </div>
    </div>
  </div>
}
