@(archetypes: Set[Archetype])

@main("Welcome to archetyp.es") {

  # archtypes: @archetypes.size

  <table>
    <tr>
      <th>groupId</th>
      <th>artifactId</th>
      <th>version</th>
      <th>description</th>
      <th>repository</th>
    </tr>
	  @for(archetype <- archetypes) {
	    <tr>
	      <td>@archetype.groupId</td>
	      <td>@archetype.artifactId</td>
        <td>@archetype.version</td>
        <td>@archetype.description</td>
        <td>@archetype.repository</td>
	    </tr>
	  }
  </table>

}
