@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
  </head>
  <body>
    <div id="blog-hint">
      <a href="/mit/blog">&#8608; Blog</a>
    </div>
    <div id="about-hint">
       <a href="#about">about ↞</a>
    </div>
    <div id="about">
      <div>
        <p>
	        Maven<sup>1</sup> archetypes are horrible to use.
	        <ul>
		        <li>Ever scrolled through the gazillions of entrys in the <code>mvn archetype:generate</code>?</li>
		        <li>Ever wondered what's in this <i>"A simple portlet application"</i> archetype?</li>
		        <li>Ever generated a project from an archetype, just to see its hopelessly outdated?</li>
	        </ul>
	        Finally, you can easily search and have a look before you try...
        </p>
        <p class="small">
          <sup>1</sup>... if you have no idea what this is all about, this page is probably not for you.
        </p>
        <p class="small">
          Powered by <a href="https://github.com/sne11ius/archetypes">github.com/sne11ius/archetypes</a>
        </p>
      </div>
    </div>
    @content
  </body>
</html>
